@charset "UTF-8";
/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Raleway|Quicksand);

/* Font Variables */
/* brand colors */
/* background e HR background icons color */
/* powered by icons */

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.svg-icons {
  margin-bottom: 15px;
}

.html5:hover {
  color: #e34f26;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

.css3:hover {
  color: #016FBA;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

/* social styles */
.linkedin:hover {
  color: #0976b4; }

.facebook:hover {
  color: #3b5998; }

.pinterest:hover {
  color: #cc2127; }

.github:hover {
  color: #333; }

.googleplus:hover {
  color: #dd4b39; }

.twitter:hover {
  color: #55acee; }

.delicious:hover {
  color: #222222; }

.instagram:hover {
  color: #3f729b; }

/* social box */
.list-icons {
  padding-top: 10px; }
  .list-icons i {
    padding-left: 5px;
    padding-right: 5px; }
  .list-icons span {
    padding-left: 5px;
    padding-right: 5px; }

/* semantic elements */
@media (min-width: 768px) {
  body {
    padding-top: 80px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s; } }
@media (min-width: 1250px) {
  body {
    padding-top: 100px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s; } }
header {
  text-align: center; }

header .container {
  padding-top: 80px;
  padding-bottom: 50px; }

header img {
  margin: 0px auto 40px auto;
  width: 20em; }

header .intro .name {
  display: block;
  text-transform: uppercase;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 3em;
  font-weight: 700; }

header .intro .skills {
  font-size: 1.25em;
  font-weight: 700;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

section#about {
  background-color: #EEE;
  padding-top: 20px;
  padding-bottom: 30px; }

section#contact {
  padding-top: 20px;
  padding-bottom: 30px; }

section#resume {
  padding-top: 20px;
  padding-bottom: 10px; }

section span h3 {
  padding-bottom: 50px; }

footer .footer-col {
  margin-bottom: 40px; }

#footer-info {
  background-color: #EEE;
  padding-top: 30px; }

#footer-copy {
  background-color: #424242;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 20px;
  text-transform: uppercase; }

.form-test {
  padding-top: 10px;
  padding-bottom: 10px; }
  .form-test input, .form-test textarea {
    border-radius: 0px;
    border-bottom: 2px solid #424242;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px; }
    .form-test input:hover, .form-test textarea:hover {
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s; }
    .form-test input:focus, .form-test textarea:focus {
      border-bottom: 2px solid #b3b3b3;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      box-shadow: none; }

/* tipography */
.test-devicons {
  font-family: "devicons"; }
  .test-devicons:before {
    content: ""; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

h2 {
  padding-bottom: 10px; }

p {
  line-height: 150%;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

/* bootstrap changes */
.btn {
  border-radius: 0px;
  border: 2px solid;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

a {
  color: #424242;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }
  a:hover {
    color: #000000; }

hr {
  border-top: solid 2px #333;
  padding-bottom: 10px; }

hr.star-hr {
  margin: 25px auto 30px; }
  hr.star-hr:after {
    color: #333;
    background-color: #fff;
    content: "";
    display: inline-block;
    position: relative;
    top: -0.8em;
    padding: 0 10px 0 10px;
    font-family: FontAwesome;
    font-size: 2em; }

hr.pencil-hr {
  margin: 25px auto 30px; }
  hr.pencil-hr:after {
    color: #333;
    background-color: #fff;
    content: "";
    display: inline-block;
    position: relative;
    top: -0.8em;
    padding: 0 10px 0 10px;
    font-family: FontAwesome;
    font-size: 2em; }

hr.book-hr {
  margin: 25px auto 30px; }
  hr.book-hr:after {
    color: #333;
    background-color: #fff;
    content: "";
    display: inline-block;
    position: relative;
    top: -0.8em;
    padding: 0 10px 0 10px;
    font-family: FontAwesome;
    font-size: 2em; }

hr.phone-hr {
  margin: 25px auto 30px; }
  hr.phone-hr:after {
    color: #333;
    background-color: #fff;
    content: "";
    display: inline-block;
    position: relative;
    top: -0.8em;
    padding: 0 10px 0 10px;
    font-family: FontAwesome;
    font-size: 2em; }

.navbar {
  text-transform: uppercase;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #EEE; }

.navbar .navbar-nav {
  letter-spacing: 1px;
  border: 0; }

@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s; }
    .navbar-fixed-top .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .navbar-fixed-top.navbar-shrink {
      padding: 10px 0; }
      .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em; } }
.row {
  margin: 0px; }

/* layout snippets */
.progress {
  position: relative;
  height: 25px; }

.progress > .progress-type {
  position: absolute;
  left: 0px;
  font-weight: 800;
  padding: 3px 30px 2px 10px;
  color: white;
  background-color: rgba(25, 25, 25, 0.2); }

.progress > .progress-completed {
  position: absolute;
  right: 0px;
  font-weight: 800;
  padding: 3px 10px 2px; }

/*# sourceMappingURL=app.css.map */
